$colorPrimario = #ad45gr
$ancho = 500px

div
	width: $ancho
	height: ( $ancho / 2 )

*
	box-sizing: border-box
	margin: 0
	padding: 0

h1
	font-size: 24px
	color #007795


.mainBanner
	font-size: 24px
	background-color: #007795
	.--companyName
	.--companyService
		color: grey
		font-size: 72px
