/* Basic button Styles - Applied for any web product */

buttonAlignment()
	display: block
	justify-content: center
	margin: 0 auto

buttonStyles_shapeSize()
	width: 250px
	height: 40px
	border-radius: 8px

mainActionButtonColors()
	border: none
	background-color: $mainColor
	color: $baseWhite

secondaryButtonColors()
	border: solid 2px $complementColor
	background-color: none
	color: $complementColor

contactButtonColors()
	border: none
	background-color: $complementColor
	color: $baseWhite

/* TerraWare Buttons Styles */

.mainBanner--servicesButton

	buttonAlignment()
	buttonStyles_shapeSize()
	mainActionButtonColors()

.serviceBox--contactButton, .finalBox--contactButton

	buttonAlignment()
	buttonStyles_shapeSize()
	contactButtonColors()

	margin-top: 50px

.finalBox
	p
		margin-top: 50px

	.finalBox--returnButton

		buttonAlignment()
		buttonStyles_shapeSize()
		secondaryButtonColors()

		margin-top: 30px
