@import "./mainStyles.styl"

/* for titulo in 1 2 3
	h{titulo}
		font-size: 4.8rem - (1.2 * titulo) */

.mainBanner
	display: flex
	flex-direction: row-reverse
	justify-content: space-evenly
	align-items: center

	background-image: url('../assets-TerraWare/images/AVIFImages/TerraWareBackground_Tablet_ModeloGeofisico3dPrincipal.avif'), url('../assets-TerraWare/images/WEBPImages/TerraWareBackground_Tablet_ModeloGeofisico3dPrincipal.webp'), url('../assets-TerraWare/images/PNGimages/TerraWareBackground_Tablet_ModeloGeofisico3dPrincipal.png')
	background-position: center
	background-size: cover
	background-repeat: none

	.mainBanner--companyLogoContainer
		width: 45%
		min-width: 300px

	.mainBanner--description
		margin-top: 0px
		max-width: 320px

.servicesList
	ul
		column-count: 2
		margin: 0 30px

.serviceBox
	.--mainParagraph
		margin-top: 0px
	.__mobileDisplay
		display: none
	.__tabletDesktopDisplay
		display: block

	display: grid
	grid-template-columns: 1fr 1fr
	grid-template-rows: auto auto auto auto auto
	grid-template-areas: "title title" "subtitle picture" "information picture" "information picture" "actionButton picture"
	column-gap: 50px
/* 	border: 5px solid red */

	h1
		grid-area: title
		margin-bottom: 50px
		font-size: 3.6rem
	.--mainParagraph
		grid-area: subtitle
		margin-bottom: 30px
	.serviceBox--serviceDescription
		grid-area: information
	.serviceBox--contactButton
		grid-area: actionButton
	.__tabletDesktopDisplay
		grid-area: picture
	.serviceBox--serviceImageContainer
		width: 100%
		height: 100%
		margin: 0px
		.--standarImageResponsive
			height: auto
			min-height: 100%

.finalBox
	
	max-width: 920px

	padding: 0 30px
	padding-top: 30px
	margin-bottom: 8rem
	
	h1
		font-size: 3.6rem
	
	.finalBox--Buttons
		button
			margin-top: 50px

		display: flex
		justify-content: space-between

.--footerContactInfo
	display: flex
	justify-content: space-around
	padding-bottom: 50px

.--lowerFooter
	display: flex
	justify-content: space-between
	align-items: center
	background-color: $darkBackground

	.--footerSocialNetworks
		width: 50%
		margin-top: 0
	.--footerCompanyRights
		padding: 30px 5%