.mainBanner
	background-image: url('../assets-TerraWare/images/WEBPImages/modelogeofisico3dPrincipal.webp'), url('../assets-TerraWare/images/PNGimages/modelogeofisico3dPrincipal.png')
	background-position: center
	background-size: cover
	background-repeat: none

	@media (min-width: 450px)
		background-image: url('../assets-TerraWare/images/AVIFImages/TerraWareBackground_Tablet_ModeloGeofisico3dPrincipal.avif'), url('../assets-TerraWare/images/WEBPImages/TerraWareBackground_Tablet_ModeloGeofisico3dPrincipal.webp'), url('../assets-TerraWare/images/PNGimages/TerraWareBackground_Tablet_ModeloGeofisico3dPrincipal.png')