@import "./A-geotem--mainStyles.styl"
@import "./A-geotem--buttonStyles.styl"

@import "./B-geotemLanding--basicStyles.styl"

@import "./A-geotem--footerStyle.styl"

header
	nav
		a
			padding: 5px 10px
			border-radius: 4px
			background: rgba(255, 255, 255, .5)
			color: $secondColor
			font-weight: 600


clientsStyles()
	margin: 0 auto
	width: 90%
	height: auto;

	text-align: center

.__mainBanner-omhega
	background-image: url('../assets_gpogtmLandingPages/images/WEBPImages/Omhega_Movil_imagen-exploracion-ambiental_mainBannerBackground.webp'), url('../assets_gpogtmLandingPages/images/PNGimages/Omhega_Movil_imagen-exploracion-ambiental_mainBannerBackground.png')
	background-position: center
	background-size: cover
	background-repeat: none


	.__companyLogoContainer-omhega
		img
			max-width: 180px
		.__mainParagraph-omhega
			color: $textColor
			font-size: 1.4rem
			font-weight: 500

	.__descriptionAndButtonContainer-omhega
		h1
			color: $secondColor
			font-size: 2.8rem
		.__description-omhega
			margin-bottom: 30px
		h2
			font-size: 1.8rem
			color: $textColor
			margin-bottom: 50px

.serviceBox

	.--omhega-listStyle

		position: relative

		padding: 30px 5% 0 5% 
		list-style: none	

		.__numeralia-omhega
			display: flex
			align-items: center
			flex-wrap: wrap
			justify-content: center

			margin-top: 20px

			p
				min-width: 100%
				text-align: center


		li:before
			content: '\276F '
			font-weight: 700
			letter-spacing: 15px
			line-height: 54px
			color: $mainColor

		.__numberIcon-omhega
			width: 70px
			font-size: 3.6rem
			font-weight: 600

			margin-right: 15px

			text-align: center

			color: $secondColor
		
		.__excavacionItem
			display: flex
			align-items: center
			flex-wrap: nowrap
			justify-content: start

	.__omhega-listStyle-excavation
		padding-top: 30px

.finalBox
	margin-top: 50px

.clientsLegend
	clientsStyles()
	h2
		font-size: 2.4rem

.qualityLegend
	h3
		font-size: 1.2rem
	margin: 0 20px 80px 20px

	text-align: center
	line-height: 200%

	color: $headerColor

/* Ajustes de estilos omhega para tablets */

@media (min-width: 450px)

	.__mainBanner-omhega
		background-image: url('../assets_gpogtmLandingPages/images/WEBPImages/Omhega_tabletDesktop_imagen-exploracion-ambiental_mainBannerBackground.webp'), url('../assets_gpogtmLandingPages/images/PNGimages/Omhega_tabletDesktop_imagen-exploracion-ambiental_mainBannerBackground.png')


	.serviceBox
		.--omhega-listStyle
			
			grid-area: information
			
			width: 90%
			margin: 0 0 0 5%
			padding: 0

			.__numeralia-omhega
				
				justify-content: start

				p
					min-width: 60%
					max-width: 160px
					text-align: start

		.__omhega-listStyle-excavation
			margin: 0 0 0 10%;

/* Ajustes de estilos omhega para Desktop */

@media (min-width: 1000px)
	
	.mainBanner
		.__companyLogoContainer-omhega
			img
				max-width: 210px
		.mainBanner--descriptionAndButtonContainer
			.mainBanner--description
				margin: 0px auto 30px auto
			.servicesList__desktopDisplay
				#omhegaServices
					ul
						column-count: 2
						li
							a
								color: $textColor
								font-weight: 600
			.mainBanner--servicesButton__desktopDisplay
				margin-top: 50px
				display: block