/* Basic button Styles - Applied for any web product */

buttonAlignment()
	display: block
	justify-content: center
	margin: 0 auto

buttonStyles_shapeSize()
	width: 250px
	height: 50px
	border-radius: 8px

mainActionButtonColors()
	border: none
	background-color: $mainColor
	color: $baseWhite

contactButtonColors()
	border: none
	background-color: $complementColor
	color: $baseWhite

/* TerraWare Buttons Styles */

.mainBanner--servicesButton

	buttonAlignment()
	buttonStyles_shapeSize()
	mainActionButtonColors()

.serviceBox--contactButton

	buttonAlignment()
	buttonStyles_shapeSize()
	contactButtonColors()

	margin-top: 50px


