@import "./A-geotem--mainStyles.styl"
@import "./A-geotem--buttonStyles.styl"

@import "./B-geotemLanding--basicStyles.styl"

@import "./A-geotem--footerStyle.styl"

header
	nav
		a
			padding: 5px 10px
			border-radius: 4px
			background: rgba(255, 255, 255, .1)
			color: $baseWhite



clientsStyles()
	margin: 0 auto
	width: 90%
	height: auto;

	text-align: center

.__mainBanner-geoinnova
	background-image: url('../assets/images/WEBPImages/Geoinnova_mobile_imagen-exploracion-geotermica_mainBannerBackground.webp'), url('../assets/images/PNGimages/Geoinnova_mobile_imagen-exploracion-geotermica_mainBannerBackground.png')
	background-position: center
	background-size: cover
	background-repeat: none

	.__companyLogoContainer-geoinnova
		margin-top: 15%
		picture
			max-width: 250px
		.__mainParagraph-geoinnova
			color: $baseWhite
			font-size: 1.4rem

	.mainBanner--descriptionAndButtonContainer
		margin-top: 50px

	.__descriptionAndButtonContainer-geoinnova

		h1
			color: $baseWhite
			margin-bottom: 50px

.serviceBox

	.--geoinnova-listStyle

		position: relative

		padding: 30px 5% 0 5% 
		list-style: none	

		.__numeralia-geoinnova
			display: flex
			align-items: center
			flex-wrap: wrap
			justify-content: center

			margin-top: 20px

			p
				min-width: 100%
				text-align: center


		li:before
			content: '\276F '
			font-weight: 700
			letter-spacing: 15px
			line-height: 54px
			color: $mainColor

		.__numberIcon-geoinnova
			width: 70px
			font-size: 3.6rem
			font-weight: 600

			margin-right: 15px

			text-align: center

			color: $secondColor
		
		.__excavacionItem
			display: flex
			align-items: center
			flex-wrap: nowrap
			justify-content: start


.bannerPermiso
	text-align: center
	color: $secondAlternativeColor
	margin: 80px 20px

.finalBox
	margin-bottom: 80px

.clientsLegend
	clientsStyles()
	h2
		font-size: 2.4rem

.qualityLegend
	margin: 0 20px 80px 20px
	text-align: center	
	h3
		font-size: 1rem
		line-height: 150%
		color: $headerColor
		font-weight: 400




/* Ajustes de estilos geoinnova para tablets */

@media (min-width: 450px)

	.__mainBanner-geoinnova
		background-image: url('../assets/images/WEBPImages/Geoinnova_tabletDesktop_imagen-exploracion-ambiental_mainBannerBackground.webp'), url('../assets/images/PNGimages/Geoinnova_tabletDesktop_imagen-exploracion-ambiental_mainBannerBackground.png')
		
		.__companyLogoContainer-geoinnova
			margin-top: 0

	.serviceBox
		.--geoinnova-listStyle
			
			grid-area: information
			
			width: 90%
			margin: 0 0 0 5%
			padding: 0

			.__numeralia-geoinnova
				
				justify-content: start

				p
					min-width: 60%
					max-width: 160px
					text-align: start



/* Ajustes de estilos geoinnova para Desktop */

@media (min-width: 1000px)
	
	.mainBanner
		.__companyLogoContainer-geoinnova
			picture
				max-width: 500px
		.mainBanner--descriptionAndButtonContainer
			.mainBanner--description
				margin: 0px auto 30px auto
			.mainBanner--servicesButton__desktopDisplay
				margin-top: 50px
				display: block