@import "./A-geotem--mainStyles.styl"
@import "./A-geotem--buttonStyles.styl"


@import "./B-geotemLanding--basicStyles.styl"

.mainBanner
	background-image: url('../assets/images/WEBPImages/Omhega_MainBanner_Background.webp'), url('../assets-TerraWare/images/PNGimages/Omhega_MainBanner_Background.png')
	background-position: center
	background-size: cover
	background-repeat: none

	@media (min-width: 450px)
		background-image: url('../assets/images/WEBPImages/Omhega_MainBanner_Background_tabletDesktop.webp'), url('../assets-TerraWare/images/PNGimages/Omhega_MainBanner_Background_tabletDesktop.png')

@import "./A-geotem--footerStyle.styl"