$font1 = 'Montserrat', sans-serif /*Main font*/

/*Colors*/
$mainColor = #DA363A
$mainAlternativeColor = #16809C
$secondColor = #C63335
$secondAlternativeColor = #006C89
$complementColor = #61A7D7

$headerColor = #455C61
$textColor = #042129

$lightBackground = #E6EBED
$mainGray = #C6D7DC
$darkBackground = #042129

$baseBlack = #00070A
$baseWhite = #EEF6F9
$secondaryWhite = #FDFBFB

$checkColor = #84ED88
$errorColor = #F09898

/* Basic Styles */

*
	box-sizing: border-box
	margin: 0
	padding: 0

html
	font-size: 62.5%
	font-family: $font1

	background-color: $lightBackground

	scroll-behavior: smooth;
	scroll-snap-type: y proximity;

/* Header styles functions - only size */

for titulo in 1 2 3
	h{titulo}
		font-size: 3.6rem - (1.2 * titulo)
		line-height: 105% + (15% * titulo)
		color: $headerColor

/* Paragraph's styles */

.--mainParagraph
	font-size: 1.8rem

.--secondaryParagraph
	font-size: 1.4rem

.--notesParagraph
	font-size: 1.0rem

/* text, hiperlinks, buttons & listItems style fonts */

p
	padding-top: 10px
	color: $textColor

button, a
	font-family: $font1
	font-size: 1.8rem

ul, ol, li
	font-family: $font1
	font-size: 1.4rem

a
	line-height: 150%
	text-decoration: none

/* Images styles to html codding */

picture
	display: inline-block



	