boxSizeandPosition()
	width: 90%
	height: auto
	min-height: 275px
	margin: 15px auto
	border-radius: 12px
	

.mainBanner
	boxSizeandPosition()
	
	background-image: url('../assets/images/AVIFImages/modelogeofisico3dPrincipal.avif'), url('../assets/images/WEBPImages/modelogeofisico3dPrincipal.webp'), url('../assets/images/PNGimages/modelogeofisico3dPrincipal.png')
