/* main styles used on each landing's box */

boxSizeandPosition()
	width: 90%
	height: auto
	min-height: 275px
	margin: 15px auto
	margin-bottom: 80px
	padding: 50px 20px

boxStyles()
	background-color: $secondaryWhite
	border-radius: 8px
	box-shadow: 12px 12px 24px rgba(4, 33, 41, 0.15)

/* Main Styles used in box's elements */ 

boxDisplayElements()
	display: flex
	flex-direction: column

imageSizeandPosition()
	width: 100%
	height: auto
	max-height: 230px

	align-self: center
	margin: 50px auto

	.standarImageResponsive
		width: 100%
		height: auto
		max-height: 230px
		object-fit: cover
		object-position: center



/* Styles focused on a specific classes of each project */

.mainBanner
	
	boxSizeandPosition()
	boxStyles()

	background-image: url('../assets/images/AVIFImages/modelogeofisico3dPrincipal.avif'), url('../assets/images/WEBPImages/modelogeofisico3dPrincipal.webp'), url('../assets/images/PNGimages/modelogeofisico3dPrincipal.png')
	background-position: center
	background-size: cover
	background-repeat: none
	
	img
		width: 240px
		display: block
		margin: 0 auto

	h1, h2, h3, p
		text-align: center
		color: $baseWhite
		line-height: 150%
	
	.mainParagraph
		margin-top: 15px
		font-weight: 275

	.mainBanner--description
		margin: 50px 10px

.servicesList

	margin-bottom: 80px

	h1
		text-align: center
		margin: 50px auto
	ul
		list-style: none
		li
			margin-left: 7.5%
			margin-bottom: 30px
			a
				font-size: 1.4rem
				color: $textColor
				text-decoration: none
		li:before
			content: '\276F '
			font-weight: 700
			letter-spacing: 15px
			color: $mainColor

.serviceBox

	boxSizeandPosition()
	boxStyles()
	boxDisplayElements()

	h1, .mainParagraph
		text-align: center

	.mainParagraph
		margin-top: 30px

	.serviceBox--serviceImageContainer
		
		imageSizeandPosition()

	.secondaryParagraph
		margin-top: 0px
		text-align: left

.finalBox
	boxSizeandPosition()
	padding-top: 0px

	h1, .mainParagraph
		text-align: center

	.mainParagraph
		margin: 30px auto

	.secondaryParagraph
		text-align: left