/* for titulo in 1 2 3
	h{titulo}
		font-size: 4.8rem - (1.2 * titulo) */

.mainBanner
	display: flex
	flex-direction: row-reverse
	justify-content: space-evenly
	align-items: center

	background-image: url('../assets/images/AVIFImages/TerraWareBackground_Tablet_ModeloGeofisico3dPrincipal.avif'), url('../assets/images/WEBPImages/TerraWareBackground_Tablet_ModeloGeofisico3dPrincipal.webp'), url('../assets/images/PNGimages/TerraWareBackground_Tablet_ModeloGeofisico3dPrincipal.png')
	background-position: center
	background-size: cover
	background-repeat: none

	.mainBanner--companyLogoContainer
		min-width: 300px

	.mainBanner--description
		margin-top: 0px

		max-width: 320px

.servicesList
	ul
		column-count: 2
		margin: 0 30px

.serviceBox
	.__mobileDisplay
		display: none
	.__tabletDesktopDisplay
		display: block

	display: grid
	grid-template-columns: 50%
	grid-template-rows: auto auto auto auto
	grid-template-areas: "title title" "subtitle picture" "information picture" "actionButton picture"
	border: 5px solid red

	h1
		grid-area: title
	.mainParagraph
		grid-area: subtitle
		padding-bottom: 30px
	.serviceBox--serviceDescription
		grid-area: information
	.serviceBox--contactButton
		grid-area: actionButton
	.__tabletDesktopDisplay
		grid-area: picture
	.serviceBox--serviceImageContainer
		margin: 0
